<html>
<head>
<title>A mirror ESPDIC, an Esperanto-English Dictionary</title>
</head>
<body>
<form action="/result.html" method="GET">
<div>
Search words or meaning:<br/>
<input type="text" name="word"></div>
Language:
  <input type="radio" id="radio_esp" name="lang_select" value="esp" checked><label for="esp">Esperanto</label>
  <input type="radio" id="radio_esp" name="lang_select" value="eng"><label for="eng">English</label>
<div><input type="submit"></div>
</form>

<div id="copyright">Dictionary copyright is shown <a href="https://github.com/Yoxem/Esperanto-English-Dict-Website/blob/main/README.md">here</a>.</div>
</body>
</html>
